body {
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nav started */
#nav {
  position: fixed;
  z-index: 3;
  width: 97%;
  display: flex;
  justify-content: space-between;
  padding-left: 54px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 1px 1px;
}
#sidebar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
}
#loginbtn {
  border: 1px solid gray;
  padding: 9px;
  border-radius: 10px;
  background-color: white;
  font-weight: bold;
}

#signup {
  border: none;
  padding: 9px;
  border-radius: 10px;
  background-color: #e21b70;
  color: white;
  font-weight: bold;
}
#slct {
  gap: 6px;
  background-color: #ffffff;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#language {
  border-radius: 5px;
}
#form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}
#input {
  width: 100px;
}
#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(238, 238, 238);
  /* width: 100vw; */
  position: relative;
  height: 100vh;
  overflow: hidden;
}
#firstbox {
  width: 60%;
}
#banerh1 {
  font-size: -webkit-xxx-large;
}
#secondbox {
  display: flex;
  height: 100%;
  width: 70%;
}
#secondbox {
  /* height: 100%; */
  /* width: 30%; */
  position: absolute;
  left: 60%;
}
#secondbox img {
  overflow: hidden;
}
#findbtn {
  border: none;
  padding: 15px;
  border-radius: 10px;
  background-color: #e21b70;
  color: white;
  font-weight: bold;
}
#input {
  border-radius: 5px;
  border: 1px solid gray;
  width: 80%;
  margin: 0px 10px;
  /* height: 10px; */
  padding: 10px;
}
#banner2 {
  width: 100%;
  height: 70%;
}
#banner2 img {
  height: 400px;
  object-fit: cover;
}
#banner2 h1 {
  font-size: 40px;
  margin: 40px 50px;
}
#banner3 {
  box-shadow: 1px 1px 6px grey;
  width: 43%;
  padding: 0px 21px;
  padding-left: 20px;
  height: 284px;
  position: absolute;
  top: 1055px;
  z-index: 1;
  border-radius: 20px;
  margin-left: 45px;
  background-color: #ffffff;
}
#banner3 h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
}
#banner3 h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  word-spacing: 3px;
}
#banner3 p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#baner3btn {
  border: none;
  padding: 20px;
  border-radius: 10px;
  background-color: #e21b70;
  color: white;
  font-weight: bold;
}

/* section cities */

#citiesh1 {
  margin-top: 247px;
  font-weight: bold;
  padding-left: 26px;
}
#cities {
  display: flex;
}

#islamabad {
  background-image: url(https://images.deliveryhero.io/image/foodpanda/city-tile-pk/Islamabad.jpg?width=720);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 300px;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
  position: relative;
}
#islamabad h1 {
  background-color: #ffffff;
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  left: 10px;
  bottom: 1px;
}

#karachi {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVqrP55UOyD58Hsz8jcKqO9JMfeq1w0yL9xg&s);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
  position: relative;
}
#karachi h1 {
  background-color: #ffffff;
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  left: 10px;
  bottom: 1px;
}
#lahore {
  background-image: url(https://img.goodfon.com/wallpaper/big/a/44/badshahi-mosque-lahore-pakistan.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
  position: relative;
}
#lahore h1 {
  background-color: #ffffff;
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  left: 10px;
  bottom: 1px;
}
#peshawar {
  background-image: url(https://www.shutterstock.com/image-photo/peshawar-landmark-khyber-pakhtunkhwa-pakistan-260nw-1459768916.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
  position: relative;
}
#peshawar h1 {
  background-color: #ffffff;
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  left: 10px;
  bottom: 1px;
}
